<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/home.js" type="module"></script>
	<title>Document</title>
</head>
<body>
	<h1>Welcome</h1>
	<div id="labels-table-container">
		<table id="labels-table">
			<th id="labels-table-head"></th>
		</table>
	</div>
	<div id="free-list-container">
		<div id="free-list"></div>
		<input id="free-input" type="text" placeholder="Pasta" />
		<button id="free-submit">Add</button>
	</div>
	<button id="save-button">Save</button>
</body>
</html>