<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="signon.css" />
	<script src="/signon.js" type="module"></script>
	<title>Document</title>
</head>
<body>
	<h1>Servery App</h1>
	<button id="start-button">Sign in with Google</button>
	<div id="phone-update-area" class="hidden">
		<input id="phone-number-field" type="tel" placeholder="tel (+12345678910)" />
		<button id="phone-check-button">Send verification number</button>
		<div id="phone-captcha-container"></div>
		<input id="phone-verify-field" type="text" placeholder="verfication code (123456)" />
		<button id="phone-submit-button">Verify</button>
	</div>
</body>
</html>