@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*@font-face {
    font-family: 'OpenSans Bold';
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}

@font-face {
    font-family: 'OpenSans';
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
}*/
body{
    margin:0;
    overflow-x: hidden;
}
h1 {
    letter-spacing: 5px;
    font-size: 48px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    letter-spacing: -.0005em;   
    /*color: #89cdd8;*/
    color: #7dc6d2;
    text-align: center;
  }
h2, h3, h4, h5, h6, p {
    font-family: "Open Sans", sans-serif;
}

h3 {
    font-size: 20px;
}

h5 {
    font-size: 14px;
}

html, body {
      background-color: #FFEDC3;
      font-family: 'OpenSans';
      color:black;
      text-align: center;
}

.sign-in-panel {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-top: 100px;
}


#phone-update-area {
    text-align: left;
}

#phone-update-area input {
    margin-right: .8em;
    border: #d0d0d0 1px solid;
    margin-bottom: .5em;
}
button {
        background-color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: #7D7B79;
        border: none;
        padding:0.35em .6em;
        box-shadow:0.1em 0.1em 0.2em rgb(0 0 0 / 15%);
        border-top: #f3f3f3 1px solid;
        /*font-size: 14px;*/
        font-size: .87em !important;

}


#start-button {
    box-shadow: 10px, 10px, 5px, gray;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #7D7B79;
    border: none;
    padding:0.35em 1.2em;
    box-shadow:0.1em 0.2em 0.25em rgb(0 0 0 / 15%);
    border-top: #f3f3f3 1px solid;
    font-size: 1em !important;
}

#start-button span.google-icon {
    background: url("https://developers.google.com/identity/images/g-logo.png");
    float: left;
    width: 10px;
    height: 10px;
}

.btn-primary {
    background-color: #7dc6d2;
    border-color: #7dc6d2;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #5daeb9;
    border-color: #5daeb9;
}

.btn-primary:focus {
    outline: none;
}

.signoninput{
    width:100%;
}

input {
    font-family: 'OpenSans';
    padding-left: 5px;
}

