@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*@font-face {
    font-family: 'OpenSans Bold';
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}

@font-face {
    font-family: 'OpenSans';
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
}*/
body{
    margin:0;
    overflow-x: hidden;
}
h1 {
    letter-spacing: 5px;
    font-size: 48px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    letter-spacing: -.0005em;   
    /*color: #89cdd8;*/
    color: #7dc6d2;
    text-align: center;
  }
* {
    font-family: "Open Sans", sans-serif;
}

h3 {
    font-size: 20px;
}

h5 {
    font-size: 14px;
}

html, body {
      background-color: #FFEDC3;
      font-family: 'OpenSans';
      color:black;
      text-align: center;
}






.btn-primary {
    background-color: #7dc6d2;
    border-color: #7dc6d2;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #5daeb9;
    border-color: #5daeb9;
}

.btn-primary:focus {
    outline: none;
}



input {
    padding-left: 20px;
}

.hidden {
	display: none;
}